.HeaderLevel {
  height: 60px;
  display: flex;
  align-items: center;
  /* position: sticky; */
  top: 0;
  z-index: 100;
  justify-content: space-evenly;
}

.HeaderLevel__chooseLevel {
  display: flex;
}

.HeaderLevel__runButton {
  display: flex;
}

.HeaderLevel__restartButton {
  display: flex;
}

.HeaderLevel__mistakeCount {
  display: flex;
}

.mergeSortResult {

  margin-left: 0;
}

.footer-navigator .footer-navigator-button {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5e5e5;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  transition: all 0.15s ease-in-out;
}