.UserInput{
    text-align: center;
}
.grid_G{
    display:flex;
    justify-content: space-around;
    width:90%;
    margin:0 auto;
}

.UserInput_background {
    border: 5px solid palevioletred;
    background-color: pink;
    margin: 5px 10px 30px 10px;
    padding: 4px 3px 10px 5px;
    bottom: 0;
    
  }
  .UserInput_background_1 {
    border: 5px solid black;
    margin: 5px 10px 30px 10px;
    padding: 4px 3px 10px 5px;
    bottom: 0;
    background-color: gray;
    
  }

  .resizedTextbox{
      width:200px;
      height:30px;
  }

  .resizedTextbox_1{
    width:70px;
    height:30px;
}


  
  
  
  
  .clue {
    margin-bottom: 10px;
    display: flex;
  }
  
  .clue-button {
    display: flex;
    background: none;
    border: 0;
    color: inherit;
    text-align: left;
    cursor: pointer;
  }
