<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="author" content="hadesz">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1, user-scalable=no">
  <meta name="title" content="Merge Sort Demo">
  <title>Merge Sort Demo</title>
</head>

<body>
  <div id="root"></div>
</body>


</html>
