.App {
  text-align: center;
}

.content-container {
  width: 100%;
  min-width: 960px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content-body {
  width: 100%;
  max-width: 1600px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 24px 3.33vw;
}

.square-container {
  width: 40px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background: #e5e5e5;
  border-radius: 8px;
  margin: 8px;
  animation: opacity 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.square-container-opacity {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  margin: 8px;
  opacity: 0;
}

.text-box {
  border: none;
  text-align: center;
}

.display-area {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
}

.display-area-dynamic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-area-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-area-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  /* width: 100%;
  min-width: 960px;
  display: flex;
  justify-content: center;
  align-items: flex-start; */
  background: #c4c4c4;
}

.LevelControl {
  flex: 0 0 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.functional-area {
  flex: 0 0 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Button.tsx */
.rc-button {
  min-width: 88px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 8px;
  padding: 0 20px;
  border-radius: 8px;
  background-color: #e5e5e5;
  cursor: pointer;
  user-select: none;
  transition: all 0.15s ease-in-out;
}

.rc-button.disabled {
  background-color: #eaeaea;
  cursor: not-allowed;
}

.rc-button.disabled span {
  color: #aaaaaa;
}

.rc-button span {
  transition: all 0.15s ease-in-out;
  font-size: 14px;
  line-height: 1;
  color: #000000;
}

/* Footer.tsx */
.footer-container {
  width: 100%;
  min-width: 960px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer-body {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 24px 3.33vw;
}

.footer-navigator {
  width: 138px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
}

.footer-navigator .footer-navigator-button {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5e5e5;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  transition: all 0.15s ease-in-out;
}

.footer-navigator .footer-navigator-button.disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.footer-tips {
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 16px;
  background: #c4c4c4;
  border-radius: 16px;
}

.footer-tips-title {
  flex: 0 0 20px;
  text-align: center;
  margin-bottom: 16px;
}

.footer-tips-content {
  flex: 1 1 auto;
  min-height: 90px;
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding-bottom: 20px;
}

.footer-tips-content p {
  width: 100%;
  text-align: center;
  margin: 0;
}

.statistics-area {
  flex: 0 0 33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.statistics-area .mistakes-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background: #e5e5e5;
  border-radius: 8px;
  margin-left: 10px;
}
.custom-level-inputs-box {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  position: relative;
  width: 100%;
  max-width: 1005px;
  border: 1px solid #e5e7e8;
  border-radius: 3px;
}
.input-title {
  display: block;
  position: absolute;
  background-color: #f3f3f3;
  padding: 0 10px;
  top: -12px;
  left: 20px;
  border-radius: 3px;
}
.custom-level-inputs-form  {
  width: 100%;
  max-width: 1005px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.custom-level-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
  max-width: 1005px;
}
.text-align-left {
  text-align: left;
}

.submitBtn{
  padding: 10px;
  border-radius:10px;
  background-color: white;
  color: black;
  border: 2px solid #c4c4c4;
}
.submitBtn:hover{
  background-color: #c4c4c4;
  /* color: white; */
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}